<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <img src="./assets/images/team-photo.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-8">
      <h2>Qui sommes-nous ? </h2>
      <p>Bienvenue sur notre site !<br />
        Nous sommes une équipe de 4 personnes, actuellement en formation chez <a target="_blank"
          rel="noopener noreferrer" href="https://www.dta-ingenierie.fr">DTA Ingénierie</a>.
        Nous suivons cette formation dans le but de devenir développeurs Java fullstack dans un contexte DevOps.<br />
        Pour cela, nous avons besoin de travailler avec Git, en étant plusieurs sur un seul dépôt. Le site où vous vous
        trouvez actuellement a été créé dans ce but. Celui-ci a été développé en utilisant <a target="_blank"
          rel="noopener noreferrer" href="https://angular.io">Angular</a>.<br />
        Sur ce site, vous pourrez trouver plusieurs pages:
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Une page d'accueil, qui permet de vous présenter succintement le site.</li>
        <li class="list-group-item">Une page de gallerie, ou vous pourrez voyager parmis les légumes afin de connaître
          leur histoire.</li>
        <li class="list-group-item">Cette page-ci, que vous êtes actuellement en train de lire</li>
      </ul>
      <p>Pour accéder au code de ce site, et voir notre utilisation de git en équipe, vous pouvez vous rendre <a
          target="_blank" rel="noopener noreferrer" href="https://github.com/AntoineLabeeuw/app-legumes">ici</a>.</p>
      <h3 style="text-align: center; padding-top:3em;">Bonne lecture !</h3>
    </div>
  </div>
</div>
